@tailwind base;
@tailwind components;
@tailwind utilities;

th {
  text-align: left;
  background-color: #171717;
  color: white;
}

td {
  vertical-align: top;
}

td:nth-child(1) {
  font-weight: bold;
}

th:nth-child(2), td:nth-child(2) {
  min-width: 160px;
  font-weight: 600;
}

.phonetic-symbols-tables td {
  vertical-align: middle;
}
